<div class="page">
  <%= render 'components/nav/base', name: 'Macaw', nick: 'MW' %>
  <div class="page-content d-flex align-items-stretch">
    <%= render 'components/sidebar/base' %>
    <div class="content-inner">
      <header class="page-header">
        <div class="container-fluid">
          <h2 class="no-margin-bottom"><%= @page_header %></h2>
        </div>
      </header>
      <%= render 'components/breadcrumb/base' %>
      <%= yield %>
      <footer class="main-footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12 text-right">
              <p>Lincolnsrjr &copy;
                <script>
                    document.write(new Date().getFullYear())
                </script>
              </p>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>