<div class="page">
  <%= render 'components/nav/base', name: 'Macaw', nick: 'MW' %>
  <div class="page-content d-flex align-items-stretch">
    <%= render 'components/sidebar/base' %>
    <div class="content-inner">
      <header class="page-header">
        <div class="container-fluid">
          <h2 class="no-margin-bottom"><%= @page_header %></h2>
        </div>
      </header>
      <%= render 'components/breadcrumb/base' %>
      <%= yield %>
    </div>
  </div>
</div>